---
import Layout from "../layouts/Layout.astro";

const title = "404 - Rubén León";
const description = "404 - Page Not Found";
const author = "Lucas Arroyo";
const keywords = "";
const language = "";
---
<Layout title={title} description={description} author={author} keywords={keywords} language={language}>
    <main id="main-404">
        <h1>404</h1>
        <h2>Sorry, the page you're <br> looking for doesn't exist</h2>
        <a role="button" href="/">HOME</a>
    </main>
</Layout>