---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";

const title = "Página Principal - Rubén León";
const description = "";
const author = "";
const keywords = "";
const language = "es";

const pageNames = ["Inicio", "Sobre mi", "Proyectos"];
const pageLinks = ["/", "about", "projects"];
---

<Layout title={title} description={description} author={author} keywords={keywords} language={language}>
    <header>
        <Navbar classes="" pages={pageNames} links={pageLinks} />
        <section id="hero">
            <h1>Rubén León</h1>
            <h2>Técnico Informático</h2>
            <a href="#main">Descubrir</a>
        </section>
    </header>
    <main id="main" class="container-fluid container-xl">
        <section>
            <h3>Título</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita earum beatae esse impedit corporis rem labore reiciendis officia reprehenderit accusamus aliquid, in sed vitae alias architecto nobis facere neque maxime.</p>
        </section>
        <hr/>
    </main>
    <Footer />
</Layout>